body {
  background-color: #262626;
}

table {
  background-color: #262626;
}

/* Row Formatting, works on all front page  */
tr.athing > td {
  padding-top: 0.7rem;
}
tr.athing > td.title {
  font-size: 0.9rem;
}
tr > td.subtext {
  font-size: 0.7rem;
}

tr.athing > td > a {
  color: whitesmoke;
}
tr.athing > td > a:visited {
  color: #7ea5bb;
}

/* Top Bar */
span.pagetop b.hnname a {
  font-size: 1.1rem;
  color: #ff6917;
}
span.pagetop a:visited {
  font-size: 1.1rem;
  color: #ff6917;
}
span.pagetop > a {
  color: #b9b9b9;
}
span.pagetop > a:visited {
  color: #7ea5bb;
}
a:link {
  color: #949494;
}
#me {
  color: #ff6917;
}
/* Comment page comment box */

td form textarea {
  background-color: #2e2e2f;
  color: whitesmoke;
}

/* Comment Page in paragraph links */

span.c00 a:link {
  color: whitesmoke;
}
span.c00 a:visited {
  color: #7ea5bb;
}

.c00 p a:link {
  color: whitesmoke;
}

.c00 p a:visited {
  color: #7ea5bb;
}

/* Comment page replies */
div.comment .c00 {
  color: #b9b9b9;
  font-size: 0.8rem;
}

div.reply u > a {
  font-size: 0.8rem;
}
div.reply u > a:link {
  color: whitesmoke;
}

div.reply u > a:visited {
  color: #7ea5bb;
}

td[class*="nosee votelinks"] {
  position: absolute;
}

/* Bottom Links */
span.yclinks > a {
  color: #b9b9b9;
}
span.yclinks > a:visited {
  color: #7ea5bb;
}

/* Profile page */

input,
select {
  border-color: #a7a7a7;
  border-width: 0.05rem;
  background-color: #2e2e2f;
  padding: 0.4rem;
  color: whitesmoke;
}

tr > td > a[href^="front?"] {
  color: whitesmoke;
}

tr > td > a[href^="front?"]:visited {
  color: #7ea5bb;
}

td > a > u {
  color: whitesmoke;
}

td > a:visited > u {
  color: #7ea5bb;
}
